*{
    margin: 0px;
    padding: 0px;

}

body{
    background: rgb(69, 145, 203);
    font: normal 15pt Arial ;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    background-color: white;
    width: 500px;
    padding: 15px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.359);
}

select {
    width: 150px;
    margin: 10px;
    
}

section div#resp {
    padding: 10px

}